# IDE specific ignores (IntelliJ, Eclipse, VScode):
.idea
*.iml
.project
.settings
.metadata
.vscode/
# Helm and kind specific ignores:
Chart.lock
# dependencies of charts get downloaded to chart/<chartname>/carts - so exclude those:
charts/*/charts
/charts/ditto/requirements.lock
