apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hawkbit.fullname" . }}
  labels:
{{ include "hawkbit.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    {{- with .Values.updateStrategy }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "hawkbit.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "hawkbit.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print .Template.BasePath "/secrets.yaml") . | sha256sum }}
        {{- with .Values.podTemplate.annotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
    {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: PROFILES
              value: "{{ .Values.spring.profiles }}"
            - name: SPRING_DATASOURCE_USERNAME
              value: "{{ .Values.mysql.auth.username }}"
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "mysql.secretName" .Subcharts.mysql }}
                  key: mysql-password
            - name: "SPRING_DATASOURCE_URL"
              {{- if and .Values.env .Values.env.springDatasourceUrl }}
              value: "{{ .Values.env.springDatasourceUrl }}"
              {{- else }}
              value: "jdbc:mariadb://{{ .Release.Name }}-mysql:3306/{{ .Values.mysql.auth.database }}"
              {{- end }}
            - name: "SPRING_RABBITMQ_HOST"
              value: "{{ .Release.Name }}-rabbitmq"
            - name: "SPRING_RABBITMQ_USERNAME"
              value: "{{ .Values.rabbitmq.auth.username }}"
            - name: "SPRING_RABBITMQ_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ include "rabbitmq.secretPasswordName" .Subcharts.rabbitmq }}
                  key: rabbitmq-password
            - name: SPRING_SECURITY_USER_NAME
              value: "{{ .Values.auth.username }}"
            - name: SPRING_SECURITY_USER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "hawkbit.secretName" . }}
                  key: hawkbit-password
            {{- if .Values.fileStorage.enabled }}
            - name: "org.eclipse.hawkbit.repository.file.path"
              value: {{ .Values.fileStorage.mountPath }}
            {{- end }}
            {{- if .Values.extraEnv }}
            {{- if kindIs "slice" .Values.extraEnv }}
            {{- toYaml .Values.extraEnv | nindent 12 }}
            {{- else if kindIs "map" .Values.extraEnv }}
            {{- range $key, $value := .Values.extraEnv }}
            - name: "{{ $key }}"
              value: "{{ $value }}"
            {{- end }}
            {{- else }}
            # .Values.extraEnv of type {{kindOf .Values.extraEnv}} is ignored
            {{- end }}
            {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /swagger-ui/index.html
              port: http
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
          readinessProbe:
            httpGet:
              path: /swagger-ui/index.html
              port: http
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
          volumeMounts:
            - name: configmap
              mountPath: {{ .Values.configMap.mountPath }}
            {{- if .Values.fileStorage.enabled }}
            - name: storage
              mountPath: {{ .Values.fileStorage.mountPath }}
            {{- end }}
            {{- if .Values.extraVolumeMounts }}
            {{ toYaml .Values.extraVolumeMounts | nindent 12 }}
            {{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      {{- if .Values.securityContext.enabled }}
      securityContext:
        fsGroup: {{ .Values.securityContext.fsGroup }}
        runAsUser: {{ .Values.securityContext.runAsUser }}
        {{- if .Values.securityContext.extra }}
        {{- toYaml .Values.securityContext.extra | nindent 8 }}
        {{- end }}
      {{- end }}
      volumes:
        - name: configmap
          configMap:
            name: {{ include "hawkbit.fullname" . }}
      {{- if .Values.fileStorage.enabled }}
        - name: storage
          persistentVolumeClaim:
            claimName: {{ include "hawkbit.fullname" . }}-data
      {{- end}}
      {{- if .Values.extraVolumes }}
      {{ toYaml .Values.extraVolumes | nindent 6 }}
      {{- end }}
