#
# Copyright (c) 2021 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
#
# SPDX-License-Identifier: EPL-2.0
#
{{- $args := dict "dot" . "component" "service-command-router" "name" "service-command-router-conf" }}
apiVersion: v1
kind: Secret
metadata:
  {{- include "hono.metadata" $args | nindent 2 }}
type: Opaque
stringData:
  dns-cache-config.properties: |
    networkaddress.cache.negative.ttl=0
  application.yml: |
    hono:
      app:
        {{- if and (not .Values.dataGridSpec) (not .Values.dataGridExample.enabled) }}
        # The embedded cache is created for each service instance being deployed, so
        # we need to limit the number to one instance in order to ensure consistent cache content
        maxInstances: 1
        {{- else }}
        maxInstances: {{ .Values.commandRouterService.hono.app.maxInstances }}
        {{- end }}
      auth:
        {{- if .Values.commandRouterService.hono.auth }}
        {{- .Values.commandRouterService.hono.auth | toYaml | nindent 8 }}
        {{- else }}
        host: {{ printf "%s-service-auth" ( include "hono.fullname" . ) | quote }}
        port: 5671
        trustStorePath: "/opt/hono/tls/ca.crt"
        hostnameVerificationRequired: false
        name: {{ printf "Hono %s" $args.component | quote }}
        {{- end }}
      commandRouter:
        amqp:
          {{- if .Values.commandRouterService.hono.commandRouter.amqp }}
          {{- .Values.commandRouterService.hono.commandRouter.amqp | toYaml | nindent 10 }}
          {{- else }}
          bindAddress: "0.0.0.0"
          keyPath: "/opt/hono/tls/tls.key"
          certPath: "/opt/hono/tls/tls.crt"
          {{- end }}
        cache:
          {{- if .Values.commandRouterService.hono.commandRouter.cache }}
            {{- .Values.commandRouterService.hono.commandRouter.cache | toYaml | nindent 10 }}
          {{- else if .Values.dataGridSpec }}
          remote:
            {{- .Values.dataGridSpec | toYaml | nindent 12 }}
          {{- else if .Values.dataGridExample.enabled }}
          remote:
            {{- $serverName := printf "%s-data-grid" ( include "hono.fullname" . ) }}
            serverList: {{ printf "%s:11222" $serverName | quote }}
            authServerName: {{ $serverName | quote }}
            authUsername: {{ .Values.dataGridExample.authUsername | quote }}
            authPassword: {{ .Values.dataGridExample.authPassword | quote }}
            authRealm: "ApplicationRealm"
            saslMechanism: "SCRAM-SHA-512"
            socketTimeout: 5000
            connectTimeout: 5000
          {{- end }}
      {{- if .Values.deviceRegistryExample.enabled }}
      registration:
        {{- include "hono.deviceRegistryExampleClientConfig" $args | nindent 8 }}
      tenant:
        {{- include "hono.deviceRegistryExampleClientConfig" $args | nindent 8 }}
      {{- else }}
      registration:
        {{- required ".Values.adapters.deviceRegistrationSpec MUST be set if example Device Registry is disabled" .Values.adapters.deviceRegistrationSpec | toYaml | nindent 8 }}
      tenant:
        {{- required ".Values.adapters.tenantSpec MUST be set if example Device Registry is disabled" .Values.adapters.tenantSpec | toYaml | nindent 8 }}
      {{- end }}
      {{- if has "amqp" .Values.messagingNetworkTypes }}
      command:
      {{- if .Values.amqpMessagingNetworkExample.enabled }}
        name: {{ printf "Hono %s" $args.component | quote }}
        amqpHostname: hono-internal
        host: {{ ( include "hono.fullname" . ) }}-dispatch-router
        port: 5673
        keyPath: {{ .Values.adapters.commandAndControlSpec.keyPath }}
        certPath: {{ .Values.adapters.commandAndControlSpec.certPath }}
        trustStorePath: {{ .Values.adapters.commandAndControlSpec.trustStorePath }}
        hostnameVerificationRequired: {{ .Values.adapters.commandAndControlSpec.hostnameVerificationRequired }}
        useLegacyTraceContextFormat: {{ .Values.useLegacyAmqpTraceContextFormat }}
      {{- else }}
        {{- required ".Values.adapters.commandAndControlSpec MUST be set if example AMQP Messaging Network is disabled" .Values.adapters.commandAndControlSpec | toYaml | nindent 8 }}
      {{- end }}
      {{- end }}
      {{- include "hono.messagingNetworkClientConfig" ( dict "dot" . "component" $args.component "kafkaMessagingSpec" .Values.commandRouterService.hono.kafka ) | nindent 6 }}
    {{- include "hono.quarkusConfig" $args | indent 4 }}
  {{- if and (not .Values.dataGridSpec) (not .Values.dataGridExample.enabled) }}
  cache-config.xml: |
  {{- tpl ( .Files.Get "config/command-router/embedded-cache-config.xml" ) . | nindent 4 }}
  {{- end }}
data:
  adapter.credentials: {{ .Files.Get "example/command-router.credentials" | b64enc }}
