{{- $args := dict "dot" . "name" "service-command-router" }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  {{- include "hono.metadata" $args | nindent 2 }}
roleRef:
  kind: Role
  name: {{ printf "%s-%s" .Release.Name $args.name | quote }}
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: {{ printf "%s-%s" .Release.Name $args.name | quote }}
    namespace: {{ .Release.Namespace }}
