<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body class="">
    {{- partial "header.html" . -}}

    <main id="main" role="main" >
        {{- block "main" . }}{{- end }}
    </main>

    {{- partial "footer.html" . -}}

    <script src="{{ "popper.min.js" | relURL }}"></script>
    <script src="{{ "jquery.min.js" | relURL }}"></script>
    <script src="{{ "bootstrap/bootstrap.min.js" | relURL }}"></script>

    <script src="{{ "clipboard.min.js" | relURL }}"></script>
    <script src="{{ "clipboard.js" | relURL }}"></script>

</body>

</html>