{{- if .Values.adapters.coap.enabled }}
#
# Copyright (c) 2019, 2021 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
#
# SPDX-License-Identifier: EPL-2.0
#
{{- $args := dict "dot" . "component" "adapter-coap-vertx" "name" "adapter-coap-vertx" "componentConfig" .Values.adapters.coap }}
apiVersion: apps/v1
kind: Deployment
metadata:
  {{- include "hono.metadata" $args | nindent 2 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "hono.matchLabels" $args | nindent 6 }}
  template:
    metadata:
      {{- include "hono.metadata" $args | nindent 6 }}
      annotations:
        {{- include "hono.monitoringAnnotations" . | nindent 8 }}
    spec:
      containers:
      {{- include "hono.jaeger.agent" . | indent 6 }}
      - image: {{ include "hono.image" $args }}
        imagePullPolicy: IfNotPresent
        name: eclipse-hono-adapter-coap-vertx
        ports:
        - name: health
          containerPort: {{ .Values.healthCheckPort }}
          protocol: TCP
        - name: coap
          containerPort: 5683
          protocol: UDP
        - name: coaps
          containerPort: 5684
          protocol: UDP
        securityContext:
          privileged: false
        env:
        - name: SPRING_CONFIG_LOCATION
          value: file:///etc/hono/
        - name: SPRING_PROFILES_ACTIVE
          value: dev
        - name: LOGGING_CONFIG
          value: {{ default "classpath:logback-spring.xml" .Values.adapters.coap.loggingConfig | quote }}
        - name: JDK_JAVA_OPTIONS
          value: {{ .Values.adapters.coap.javaOptions | quote }}
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        {{- include "hono.jaeger.clientConf" $args | indent 8 }}
        volumeMounts:
        {{- include "hono.container.secretVolumeMounts" $args | indent 8 }}
        {{- with .Values.adapters.coap.resources }}
        resources:
          {{- . | toYaml | nindent 10 }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /liveness
            port: health
            scheme: HTTPS
          initialDelaySeconds: 180
        readinessProbe:
          httpGet:
            path: /readiness
            port: health
            scheme: HTTPS
          initialDelaySeconds: 10
      volumes:
      {{- include "hono.pod.secretVolumes" $args | indent 6 }}
{{- end }}
