---
layout: default
---

{% capture package %}/packages/{% include package-id.html id=page.id %}/{% endcapture %}

<div>
{%- for p in site.packages -%}
{% capture pid %}/packages/{% include package-id.html id=p.id %}/{% endcapture %}
{%- assign p2 = p.id | split:"/" | shift | shift | shift | join:"/" -%}
{%- if pid == package and p2 == "" -%}
{%- if p.pageLogo %}{%- assign plogo = p.url | append: p.pageLogo -%}{% else %}{%- assign plogo = p.url | append: p.image -%}{% endif%}
{%- include page-heading.html title=p.name lead=p.description logo=plogo -%}
{%- endif -%}
{%- endfor -%}

</div>

<div class="container">

<nav class="nav nav-pills nav-fill mt-2 mb-5">

{%- for p in site.packages -%}
{% capture pid %}/packages/{% include package-id.html id=p.id %}/{% endcapture %}
{%- if package == pid -%}
  <a class="nav-item nav-link {%if page.id == p.id %} active{%endif%}" href="{{ p.url | relative_url }}">{{p.title}}</a>
{%- endif -%}
{%- endfor -%}

</nav>

{{- content -}}

</div>
