{{- if and .Values.deviceRegistryExample.enabled ( eq .Values.deviceRegistryExample.type "embedded" ) }}
#
# Copyright (c) 2021, 2022 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
#
# SPDX-License-Identifier: EPL-2.0
#
{{- $args := dict "dot" . "component" "service-device-registry" "name" "service-device-registry" "componentConfig" .Values.deviceRegistryExample.embeddedJdbcDeviceRegistry }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  {{- include "hono.metadata" $args | nindent 2 }}
spec:
  serviceName: {{ printf "%s-headless" $args.name }}
  replicas: 1
  selector:
    matchLabels:
      {{- include "hono.matchLabels" $args | nindent 6 }}
  template:
    metadata:
      {{- include "hono.metadata" $args | nindent 6 }}
      {{- include "hono.podAdditionalLabels" $args | nindent 8 }}
      annotations:
        {{- include "hono.podAnnotations" $args | nindent 8 }}
        {{- include "hono.podAdditionalAnnotations" $args | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- include "hono.pod.priorityClassName" $args | nindent 6 }}
      {{- include "hono.pod.affinity" $args | nindent 6 }}
      containers:
      {{- include "hono.otel.agent" . | indent 6 }}
      {{- include "hono.container" $args | indent 6 }}
        {{- with $args.componentConfig.cmdLineArgs }}
        args:
        {{- range . }}
        - {{ . | quote }}
        {{- end }}
        {{- end }}
        ports:
          - name: health
            containerPort: {{ include "hono.healthCheckPort" . }}
            protocol: TCP
          - name: http
            containerPort: 8080
            protocol: TCP
          - name: https
            containerPort: 8443
            protocol: TCP
          - name: amqps
            containerPort: 5671
            protocol: TCP
          - name: amqp
            containerPort: 5672
            protocol: TCP
        env:
        - name: JDK_JAVA_OPTIONS
          value: {{ .Values.deviceRegistryExample.javaOptions | quote }}
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        {{- include "hono.component.frameworkEnv" $args | indent 8 }}
        {{- include "hono.component.envFrom" $args | indent 8 }}
        securityContext:
          privileged: false
        volumeMounts:
        {{- include "hono.container.volumeMounts" ( dict "name" $args.name "componentConfig" .Values.deviceRegistryExample ) | indent 8 }}
        - name: "registry"
          mountPath: "/var/lib/hono/device-registry"
        {{- with ( default .Values.deviceRegistryExample.resources $args.componentConfig.resources ) }}
        resources:
          {{- . | toYaml | nindent 10 }}
        {{- end }}
        {{- include "hono.component.healthChecks" $args | nindent 8 }}
      volumes:
      {{- include "hono.pod.volumes" ( dict "dot" $args.dot "name" $args.name "componentConfig" .Values.deviceRegistryExample ) | indent 6 }}
      - name: "registry"
        persistentVolumeClaim:
          claimName: {{ printf "%s-%s" ( include "hono.fullname" . ) $args.name | quote }}
{{- end }}
