# Copyright (c) 2019 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
#
# SPDX-License-Identifier: EPL-2.0

name: ci

on:
  pull_request:
    paths:
      - 'charts/**'

jobs:
  lint-bash-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Lint Bash scripts
        uses: docker://koalaman/shellcheck-alpine:v0.7.0
        with:
          args: .github/lint-scripts.sh

  check-for-chart-changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Check for chart changes
        run: .github/check-for-chart-changes.sh

  lint-chart:
    runs-on: ubuntu-latest
    needs: check-for-chart-changes
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Run chart-testing (lint)
        uses: helm/chart-testing-action@master
        with:
          command: lint
          config: .github/ct.yaml

  install-chart:
    name: install-chart
    runs-on: ubuntu-latest
    needs: lint-chart
    strategy:
      matrix:
        k8s:
          - v1.11.10
          - v1.12.10
          - v1.13.12
          - v1.14.9
          - v1.15.6
          - v1.16.3
          - v1.17.0
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Create kind cluster
        uses: helm/kind-action@master
        with:
          config: .github/kind-config.yaml
          installLocalPathProvisioner: true
          node-image: ${{ matrix.k8s }}
      - name: Run chart-testing (install)
        uses: helm/chart-testing-action@master
        with:
          command: install
          config: .github/ct.yaml
